*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;/*font-family: 'Bangers', cursive;*/
}

/*@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Oswald:wght@400;600;700&display=swap');*/

.container {
    width: 100vw;
    max-width: 1024px;
    margin: auto;
    padding: 0px 10px;
}
.flex-content-column {
    display: flex;
    flex-direction: column;
}
.flex-content-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

header {
    background-color: #000;
}
header .container {
    display: flex;
}
header .logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
header .logo img{
    width: 25px;
}
header .logo {
    padding: 10px 5px 10px 0px;
}
header nav {
    flex: 1;
    display: flex;
    justify-content: center;
}
header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
header nav ul li {
    display: inline-block;
    padding: 0px 10px;
}
header nav ul li:hover a {
    color: #AAA;
}
header nav ul li a {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
}
header .menu {
    display: none;
    padding-right: 15px;
    padding-top: 4px;
}
header .menu img {
    width: 40px;
    height: 40px;
}















/*main {
}
main .container {}
.section-top {}*/

.section-top h1 {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px #DDD ;
    padding: 10px 0px;

}

#Home {
    padding-bottom: 30px;
    background-color: rgba(0,0,0,0.3);
}

#Home .video-area {
    width: 100%;
    height: auto;
}

#Home .video-area .video {
    position: relative;
    height: 0px;
    padding: 0px 0px 56.25%;
    background-color: #000;
}
#Home iframe {    
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}

#Home .painel {
    width: 100%;
}
#Home .painel-words {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 80px;
    color: #EEE;
}
#Home .painel-words .lbwk{
    text-align: center;
    font-family: 'Bangers',cursive;
    font-size: 83px;
    line-height: 65px;
}
#Home .painel-words .jap-char{
    text-align: center;
    font-size: 33px;
    line-height: 30px;
}
#Home .painel img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}












#lastest-projects {
    padding: 20px 0px;
}
.cars-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.project {
    margin: 5px;
    padding: 20px 10px;
    border-radius: 20px;
    width: fit-content;
}
.project img {
    width: 100%;
    max-width: 300px;
}
.project h2 {
    
    font-size: 20px;
    color: #000;
}
.project p {
    max-width: 300px;
    color: #888;
}



#history {
    padding: 0px;
    display: flex;
    justify-content: center;
}

#history .section-top h1 {
    color: #FFF;    
}
#history img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#history .container {
    position: absolute;
}
#history h2 {
    margin: 30px 0px;
    font-size: 35px;
    color: #999;
}
#history p {
    font-size: 25px;
    padding: 20px 0px;
    color: #EEE;
}


#gallery {}


#gallery .section-top {
    color: #FFF;
    background-color: #000;
}













footer {
    background-color: #333;
    padding: 15px 0px;
}

footer .follow-lbwk img.logo {
    width: 200px;
}
footer .follow-lbwk p {
    font-size: 13px;
    color: #AAA;
    padding: 10px 0px;
}
.Logo-lbwk {
    color: #AAA;
}
.Logo-lbwk .lbwk{
    font-family: 'Bangers', cursive;
    font-size: 25px;
    line-height: 20px;
}
.Logo-lbwk .jap-char {
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
}

footer .follow-lbwk .social-media-links {
    
}
footer .follow-lbwk .social-media-links a{
    padding: 10px;
}
footer .follow-lbwk .social-media-links a img:hover {
    opacity: 0.5;
}
footer .report {
    border-top: 2px solid #888;
    padding: 10px 0px;
    margin: 10px 0px;
}
footer .report p {
    color: #888;
}
footer .report address {
    color: #AAA;
    font-style: normal;
}
footer .copy {
    text-align: center;
    color: #AAA;
}






@media (max-width: 760px) {
    header .menu {
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }
    header .container {
        justify-content: space-between;
    }
    header nav {
        display: block;
        flex: 0;
    }
    header nav ul {
        width: 150px;
        display: none;
        flex-direction: column;
        align-items: flex-end;
    }
    header nav ul li {
        display: block;
        padding: 15px 10px;
    }
    .project {
        padding: 20px 0px;
    }
    .project img ,.project p{
        max-width: none;
    }
    #history h2 {
        margin: 15px 0px;
        font-size: 30px;
        color: #999;
        text-align: center;

    }
    #history p {
        font-size: 20px;
        padding: 10px 0px;
        color: #EEE;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #history .history {
        height: calc(100vh - 40px);
        display: flex;
        flex-direction: column;
    }
    footer .copy {
        font-size: 8px;
    }
}